@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../fonts/Comforta/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comforta/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('../fonts/Josefin/JosefinSans-Bold.ttf');
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../fonts/Josefin/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Anton-Regular';
    src: url('../fonts/Anton/Anton-Regular.ttf');
}